[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azlyrics = {editable = true, ref = "master", git = "git+https://github.com/noesterle/azlyrics.git"}
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
