<title>Error</title>
<head>Error: Song not found</head>
<body>
    <p>Unable to find song at <a href="https://www.azlyrics.com">AZLyrics</a></p>
    <p>Error: {{error}}</p>
    <p>Please report this error to <a href="https://github.com/noesterle/FillInTheBlank/issues">the Github Repository's Issue's Page</a>.</p>
    <a href="./search">Search Again</a>
</body>