<!DOCTYPE html>
<title>{{ title }}</title>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <p>Fill in the Blank lyrics for {{band_azlyrics}}'s song!</p>
  <button id="show_hint_title">Click to show Song and Album</button>
  <p id="hint_title" style="display:none">The song is "{{ song }}" off of their album {{ album }}!</p>
</head>
<body>
    <script src="{{ url_for('static', filename='quiz.js') }}" type="text/javascript" ></script>

    <p id=timer>15m 0s</p>
    <div>
      Enter a Lyric: <input id="reveal" type="text" onkeyup="revealLyrics()" disabled>
      <button id="play">Play</button>
      <button id="quit">Quit</button>
      Score: <span id="score">0</span>/<span id="total">{{total_lyrics}}</span>
      <span id="percentage">0</span>%
    </div>
    <script src="{{ url_for('static', filename='game.js') }}" type="text/javascript" ></script>
    <div>
      <a id="restart" href="./search" style="visibility:hidden">Play Again with a New Artist!</a>
      <form id="myform" method="post" action="./start">
        <a id="restart-same-artist" onclick="document.getElementById('myform').submit();" style="visibility:hidden; color: #0000EE; text-decoration: underline">Play Again with the Same Artist!</a>
        <input type="text" class="form-control" name="search" id="search"  placeholder="Band" value="{{band_search}}" style="visibility:collapse"/>
      </form>
    </div>
    <table>
    {% for col in lyrics_lst %}
        <tr>
        {% for word in col%}
            <td class="lyric" id="hidden" data-lyric="{{word}}">X</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <p style="visibility:collapse">{{ lyrics }}</p>
</body>
