<!DOCTYPE html>
<title>{{ title }}</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  /*color: white*/
}

/*
tr:nth-child(even) {
  background-color: #dddddd;
}
*/
</style>
<p>Fill in the Blank lyrics for {{band}}'s song!</p>
<p>The song is "{{ song }}" off of their album {{ album }}!</p>

<script>
function revealLyrics() {
    var elements = document.getElementsByClassName("lyric");
    let lyric = ''
    let found = false
    for(var i=0; i<elements.length; i++) {
        lyric = elements[i].innerText
        text = document.getElementById('reveal').value
        console.log(lyric + " " + text)
        if(lyric == text && elements[i].id == "hidden"){
            elements[i].style.color = 'red';
            elements[i].id = "found"
            found = true
        }
    }
    if(found){
        document.getElementById('reveal').value = ""
    }
}
</script>

<input id="reveal" type="text" onkeyup="revealLyrics()">

<table>
{% for col in lyrics_lst %}
    <tr>
    {% for word in col%}
        <td class="lyric" id="hidden">{{word}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

<p>{{ lyrics }}</p>
<p> {{ lyrics_lst }}</p>