<!DOCTYPE html>
<title>{{ title }}</title>
<p>Search for an artist to get a random song:</p>
<form action="./start" method="post">
    <input type="text" class="form-control" name="search" id="search"  placeholder="Band"/>
    <button type="submit" class="btn btn-success quizButtons">Search</button>
</form>