<!DOCTYPE html>
<title>{{ title }}</title>
<head>
  <h1>{{ page }}</h1>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<br>
<div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" >Enable Dark Mode Input!</input>
        <div class="slider round"></div>
    </label>
</div>
<script src="{{ url_for('static', filename='theme.js') }}" type="text/javascript" ></script>
<p>Search for an artist to get a random song:</p>
<form action="./start" method="post">
    <input type="text" class="form-control" name="search" id="search"  placeholder="Band"/>
    <button type="submit" class="btn btn-success quizButtons">Search</button>
</form>