table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    color: white
  }

  .restart-same-artist {
    visibility:hidden; 
    color: #0000EE; 
    text-decoration: underline;
  }
  
  /*
  tr:nth-child(even) {
    background-color: #dddddd;
  } 
  */